:root {
    --navy: #0a192f; /*#0a192f -- #010812*/
    --red: #ff2400;
    --light-navy: #112240;
    --gray: #C5C6D0;
    --red-tint: rgba(255,36,0,0.15);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --light-red1: #FF3211;
    --light-red2: #FF4122;
    --light-red3: #FF4F33;
    --light-red4: #FF5D43;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    background-color: var(--navy);
    overflow-x: hidden;
}
